.parent{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.child1{
    width: 100px;
    height: 100px;
    background-color: blanchedalmond;
}

.child2{
    width: 100px;
    height: 100px;
    background-color: brown;
}